# Adult Income Classification Experiments

## Import Libraries Needed for Experiment

In [21]:
# Import Python Libraries
import sys

# Import Third-Party Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px

# Append Path to Prevent Module Not Found Errors in Notebooks
sys.path.append('C:/Users/ameen/OneDrive/Documents/github/Classic-ML-Models/src')

# Import Custom Modules/Classes/Functions
from utils.aws.s3 import S3Buckets
s3_conn = S3Buckets.credentials()

## Import Dataset and View Dataset Information

In [23]:
csv_file = s3_conn.read_file("jibbs-raw-datasets", "uncleaned_AdultData.csv")

INFO: File 'uncleaned_AdultData.csv' read successfully from bucket 'jibbs-raw-datasets'.

In [24]:
df = pd.read_csv(csv_file)
data = df

In [17]:
## Perform Datatype Transformations

In [18]:
## Check Data Distributions

In [19]:
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K